{{ define "frmEditarUsuario.html" }}

{{template "_head.html"}}
<h1>Editar Usuario</h1>
{{template "_menu.html"}}
<center>
      <form action="/usuarios/editar" method="POST">

        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do usuário" required
        maxlength="200">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="E-mail para cadastro" required
        maxlength="200">
        
        <button type="submit" class="btn btn-success">
            Salvar
          </button>

      </form>
    </center>
{{template "_footer.html"}}
{{end}}