{{ define "frmCadastrar.html" }}

{{template "_head.html"}}
{{ template "_menu.html"}}
    <h1>Cadastrar</h1>
    <center>
        <h1>IMPORTAR TRANSAÇÕES</h1>

    <form action="/cadastrar/novo" enctype="multipart/form-data" method="POST">

        <div>
            <input class="form-control" type="file" placeholder="Procurar" id="meuArquivo" name="meuArquivo" 
            accept="text/csv"
            required />
            <br>
            <label for="meuArquivo">Selecionar o Arquivo para fazer o Upload</label>
        </div>
        <br>
        <button type="submit">Importar</button>

    </form>
</center>
    <center>
        <h1>TRANSAÇÕES IMPORTADAS</h1>


        <table class="table table-dark table-striped  text-left">
        <tr>
            <th>Nome do Arquivo</th>
            <th>Data da Transação</th>
            <th>Data da Importação</th>
            <th>Responsavel</th>
            <th>Opções</th>
        </tr>

    {{ $Responsavel := .Usuarios}}

    {{ range .objetosImportados}}
    
        <tr>
            <td>{{ .NomeArquivo }}</td>
            <td>{{ .DataTransacao.Format "02/01/2006" }}</td>
            <td>{{ .DataImportacao.Format "02/01/2006" }}</td>

            {{$IdResponsavel := .UsuarioResp}}

            {{ range $Responsavel}}
                {{if (eq $IdResponsavel .ID) }} <td>{{ .Nome}}</td> {{ end }}
            {{ end }}

            <td><a href="/todasimportacoes/{{ .ID }}" class="btn btn-primary">Detalhes</a></td>
        </tr>
    {{end}}
    </table>

</center>

{{template "_footer.html"}}
{{ end }}