{{ define "_menu.html" }}

<!-- <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/cadastrar">Cadastrar</a></li>
    <li><a href="/todasimportacoes">Relatorio Todos Dados Importados</a></li>
    <li><a href="/usuarios/cadastrar">Cadastro de Usuarios</a></li>
</ul> -->

<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/cadastrar">Importações</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/usuarios/cadastrar">Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Sair</a>
    </li>
  </ul>



{{ end }}